/* * {
    border: 1px solid rgb(239, 191, 255);
} */

body {
    background-image: url(images/reclaimedwoodbackground1000px.jpg);
    
    font-family: Courier New, Courier, monospace;
    font-size: 16px;
}

/* .pull-right:hover{
    background: red;
} */
h1 {
    line-height: auto;
    padding: 10px 0px 10px 10px;
}
p {
    color: white;
}
 .row1{
    color: red;
    background: black;
    border-radius: 0px 40px 0px 0px;
    /* line-height: autos;
    padding: 10px 0px 10px 10px; */
}

.row3{
    color: red;
    background: black;
    border-radius: 0px 40px 0px 0px;
    /* line-height: autos;
    padding: 10px 0px 10px 10px; */
}
.row4 {
    padding-top: 50px;
}

.about-block {
    background-color: rgba(0, 0, 0, 0.575);
    border-radius: 0px 50px 50px 50px;
}
.social{
    height: 300px;
    background-color: rgba(0, 0, 0, 0.575);
    border-radius: 0px 40px 40px 40px;
}
#small1 {
    color: white;
    font-size: 16px;
    padding-left: 15px;
    padding-bottom: 0;
}
